##### Lab 5
Apply, Groupby operations

### Learning objectives
Upon successful completion of this lab, you will have demonstrated the abilities to:

- Applying functions across columns or rows of data
- Use Groupby operations to aggregate, transform, and filter data
- Use built-in and custom user functions to perform groupby operations

In [1]:
import pandas as pd
housing = pd.read_csv('housing.csv')
housing

,Neighborhood,Building.Classification,Total.Units,Year.Built,Gross.SqFt,Estimated.Gross.Income,Gross.Income.per.SqFt,Estimated.Expense,Expense.per.SqFt,Net.Operating.Income,Full.Market.Value,Market.Value.per.SqFt,Boro
0,FINANCIAL,R9-CONDOMINIUM,42,1920.0,36500,1332615,36.51,342005,9.37,990610,7300000,200.00,Manhattan
1,FINANCIAL,R4-CONDOMINIUM,78,1985.0,126420,6633257,52.47,1762295,13.94,4870962,30690000,242.76,Manhattan
2,FINANCIAL,RR-CONDOMINIUM,500,NaN,554174,17310000,31.24,3543000,6.39,13767000,90970000,164.15,Manhattan
3,FINANCIAL,R4-CONDOMINIUM,282,1930.0,249076,11776313,47.28,2784670,11.18,8991643,67556006,271.23,Manhattan
4,TRIBECA,R4-CONDOMINIUM,239,1985.0,219495,10004582,45.58,2783197,12.68,7221385,54320996,247.48,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2621,ROSEBANK,R4-CONDOMINIUM,52,NaN,62391,831672,13.33,326305,5.23,505367,3354003,53.76,Staten Island
2622,ARROCHAR-SHORE ACRES,R4-CONDOMINIUM,102,1987.0,90618,1274089,14.06,637045,7.03,637044,5233000,57.75,Staten Island
2623,GRANT CITY,R4-CONDOMINIUM,100,1986.0,78903,1321625,16.75,673832,8.54,647793,4687000,59.40,Staten Island
2624,GRANT CITY,R4-CONDOMINIUM,159,1961.0,166712,2343971,14.06,1171985,7.03,1171986,5967531,35.80,Staten Island
2625,GREAT KILLS,R4-CONDOMINIUM,67,1965.0,108864,1298748,11.93,722857,6.64,575891,3673011,33.74,Staten Island

#### 1. standarization
- Transform the variable Gross.SqFt to its Zscore and
- save it into a new column stand_Gross.SqFt.
- print the first  obs of stand_Gross.SqFt column.

In [28]:
def zscore(x):
  return (x - x.mean()) / x.std()

housing['stand_Gross.SqFt'] = housing['Gross.SqFt'].transform(zscore)
housing['stand_Gross.SqFt'].iloc[0]

-0.3212169924309001

#### 2. define a function
- define a function outlierDetectionZ that returns the string literal 'low' if the z-score of the input parameter is less than -3 and return the string literal 'high' if the z-score value is greater than 3

In [29]:
def outlierDetectionZ(zscore):
  if zscore < -3:
    return 'low'
  elif zscore > 3:
    return 'high'
  else:
    return None

#### 3. Vectorize the function
- vectorize outlierDetectionZ function and name the vectorized function as outlierDetectionZ_vec
- call the vectorized function with housing['stand_Gross.SqFt'] as argument. Save the return value in a variable lowhigh.
- loop through the list lowhigh, and print the obs labels with either low or high and the corresponding row from the dataframe.

In [30]:
import numpy as np

outlierDetectionZ_vec = np.vectorize(outlierDetectionZ)
lowhigh = outlierDetectionZ_vec(housing['stand_Gross.SqFt'])

for i, val in enumerate(lowhigh):
  if val is not None:
    print(f"Observation Label: {val}")
    print(housing.iloc[i])
    print("\n")

Observation Label: high
Neighborhood                    FINANCIAL
Building.Classification    RR-CONDOMINIUM
Total.Units                           500
Year.Built                            NaN
Gross.SqFt                         554174
Estimated.Gross.Income           17310000
Gross.Income.per.SqFt               31.24
Estimated.Expense                 3543000
Expense.per.SqFt                     6.39
Net.Operating.Income             13767000
Full.Market.Value                90970000
Market.Value.per.SqFt              164.15
Boro                            Manhattan
stand_Gross.SqFt                 3.273149
Name: 2, dtype: object


Observation Label: high
Neighborhood                      TRIBECA
Building.Classification    R4-CONDOMINIUM
Total.Units                           546
Year.Built                         1987.0
Gross.SqFt                         586224
Estimated.Gross.Income           24375194
Gross.Income.per.SqFt               41.58
Estimated.Expense                 7110897
Expense.per.SqFt                    12.13
Net.Operating.Income             17264297
Full.Market.Value               130154990
Market.Value.per.SqFt              222.02
Boro                            Manhattan
stand_Gross.SqFt                 3.495682
Name: 11, dtype: object


Observation Label: high
Neighborhood                    FINANCIAL
Building.Classification    R4-CONDOMINIUM
Total.Units                           382
Year.Built                         1914.0
Gross.SqFt                         648926
Estimated.Gross.Income           27436591
Gross.Income.per.SqFt               42.28
Estimated.Expense                 6820212
Expense.per.SqFt                    10.51
Net.Operating.Income             20616379
Full.Market.Value               155560004
Market.Value.per.SqFt              239.72
Boro                            Manhattan
stand_Gross.SqFt                 3.931041
Name: 23, dtype: object


Observation Label: high
Neighborhood                    FINANCIAL
Building.Classification    R4-CONDOMINIUM
Total.Units                           408
Year.Built                         1928.0
Gross.SqFt                         548976
Estimated.Gross.Income           23210705
Gross.Income.per.SqFt               42.28
Estimated.Expense                 5769738
Expense.per.SqFt                    10.51
Net.Operating.Income             17440967
Full.Market.Value               118799990
Market.Value.per.SqFt               216.4
Boro                            Manhattan
stand_Gross.SqFt                 3.237058
Name: 33, dtype: object


Observation Label: high
Neighborhood                      TRIBECA
Building.Classification    R4-CONDOMINIUM
Total.Units                           220
Year.Built                         2006.0
Gross.SqFt                         535060
Estimated.Gross.Income           24200764
Gross.Income.per.SqFt               45.23
Estimated.Expense                 5896361
Expense.per.SqFt                    11.02
Net.Operating.Income             18304403
Full.Market.Value               136481149
Market.Value.per.SqFt              255.08
Boro                            Manhattan
stand_Gross.SqFt                 3.140435
Name: 81, dtype: object


Observation Label: high
Neighborhood                      CHELSEA
Building.Classification    R9-CONDOMINIUM
Total.Units                           713
Year.Built                         1920.0
Gross.SqFt                         616965
Estimated.Gross.Income           27720237
Gross.Income.per.SqFt               44.93
Estimated.Expense                11234933
Expense.per.SqFt                    18.21
Net.Operating.Income             16485304
Full.Market.Value               124062000
Market.Value.per.SqFt              201.08
Boro                            Manhattan
stand_Gross.SqFt                 3.709126
Name: 462, dtype: object


Observation Label: high
Neighborhood                      CHELSEA
Building.Classification    R4-CONDOMINIUM
Total.Units                           351
Year.Built                         1910.0
Gross.SqFt                         552679
Estimated.Gross.Income           24666064
Gross.Income.per.SqFt               44.63
Estimated.Expense                 5399674
Expense.per.SqFt                     9.77
Net.Operating.Income             19266390
Full.Market.Value               145023999
Market.Value.per.SqFt               262.4
Boro                            Manhattan
stand_Gross.SqFt                 3.262769
Name: 498, dtype: object


Observation Label: high
Neighborhood                     GRAMERCY
Building.Classification    R4-CONDOMINIUM
Total.Units                           645
Year.Built                         1987.0
Gross.SqFt                         575077
Estimated.Gross.Income           25665687
Gross.Income.per.SqFt               44.63
Estimated.Expense                 5618502
Expense.per.SqFt                     9.77
Net.Operating.Income             20047185
Full.Market.Value               150901014
Market.Value.per.SqFt               262.4
Boro                            Manhattan
stand_Gross.SqFt                 3.418285
Name: 606, dtype: object


Observation Label: high
Neighborhood                     KIPS BAY
Building.Classification    R4-CONDOMINIUM
Total.Units                          1121
Year.Built                         1962.0
Gross.SqFt                        1171064
Estimated.Gross.Income           40158762
Gross.Income.per.SqFt               34.29
Estimated.Expense                13981299
Expense.per.SqFt                    11.94
Net.Operating.Income             26177463
Full.Market.Value               149834719
Market.Value.per.SqFt              127.95
Boro                            Manhattan
stand_Gross.SqFt                 7.556402
Name: 652, dtype: object


Observation Label: high
Neighborhood                     KIPS BAY
Building.Classification    R4-CONDOMINIUM
Total.Units                           818
Year.Built                         1986.0
Gross.SqFt                         842317
Estimated.Gross.Income           36623943
Gross.Income.per.SqFt               43.48
Estimated.Expense                12617909
Expense.per.SqFt                    14.98
Net.Operating.Income             24006034
Full.Market.Value               150700011
Market.Value.per.SqFt              178.91
Boro                            Manhattan
stand_Gross.SqFt                 5.273813
Name: 654, dtype: object


Observation Label: high
Neighborhood                     KIPS BAY
Building.Classification    R9-CONDOMINIUM
Total.Units                           586
Year.Built                         1967.0
Gross.SqFt                         605018
Estimated.Gross.Income           22470369
Gross.Income.per.SqFt               37.14
Estimated.Expense                 8191944
Expense.per.SqFt                    13.54
Net.Operating.Income             14278425
Full.Market.Value               105058000
Market.Value.per.SqFt              173.64
Boro                            Manhattan
stand_Gross.SqFt                 3.626175
Name: 656, dtype: object


Observation Label: high
Neighborhood                 MIDTOWN WEST
Building.Classification    RR-CONDOMINIUM
Total.Units                           484
Year.Built                         1987.0
Gross.SqFt                         538783
Estimated.Gross.Income           21314000
Gross.Income.per.SqFt               39.56
Estimated.Expense                 8111000
Expense.per.SqFt                    15.05
Net.Operating.Income             13203000
Full.Market.Value                93512000
Market.Value.per.SqFt              173.56
Boro                            Manhattan
stand_Gross.SqFt                 3.166285
Name: 680, dtype: object


Observation Label: high
Neighborhood                 MIDTOWN WEST
Building.Classification    R4-CONDOMINIUM
Total.Units                           528
Year.Built                         2004.0
Gross.SqFt                         604403
Estimated.Gross.Income           26750877
Gross.Income.per.SqFt               44.26
Estimated.Expense                 6618213
Expense.per.SqFt                    10.95
Net.Operating.Income             20132664
Full.Market.Value               151578964
Market.Value.per.SqFt              250.79
Boro                            Manhattan
stand_Gross.SqFt                 3.621904
Name: 681, dtype: object


Observation Label: high
Neighborhood                 MIDTOWN WEST
Building.Classification    R4-CONDOMINIUM
Total.Units                           704
Year.Built                         1989.0
Gross.SqFt                         551052
Estimated.Gross.Income           23882594
Gross.Income.per.SqFt               43.34
Estimated.Expense                 7125102
Expense.per.SqFt                    12.93
Net.Operating.Income             16757492
Full.Market.Value               126251989
Market.Value.per.SqFt              229.11
Boro                            Manhattan
stand_Gross.SqFt                 3.251472
Name: 683, dtype: object


Observation Label: high
Neighborhood                 MIDTOWN WEST
Building.Classification    R4-CONDOMINIUM
Total.Units                           576
Year.Built                         1931.0
Gross.SqFt                         609127
Estimated.Gross.Income           24791469
Gross.Income.per.SqFt                40.7
Estimated.Expense                 7461806
Expense.per.SqFt                    12.25
Net.Operating.Income             17329663
Full.Market.Value               130907993
Market.Value.per.SqFt              214.91
Boro                            Manhattan
stand_Gross.SqFt                 3.654705
Name: 688, dtype: object


Observation Label: high
Neighborhood                 MIDTOWN WEST
Building.Classification    R4-CONDOMINIUM
Total.Units                           595
Year.Built                         1978.0
Gross.SqFt                         706825
Estimated.Gross.Income           32775475
Gross.Income.per.SqFt               46.37
Estimated.Expense                 7902304
Expense.per.SqFt                    11.18
Net.Operating.Income             24873171
Full.Market.Value               186988005
Market.Value.per.SqFt              264.55
Boro                            Manhattan
stand_Gross.SqFt                 4.333051
Name: 689, dtype: object


Observation Label: high
Neighborhood                      CLINTON
Building.Classification    RR-CONDOMINIUM
Total.Units                           222
Year.Built                         2009.0
Gross.SqFt                         620611
Estimated.Gross.Income           23285325
Gross.Income.per.SqFt               37.52
Estimated.Expense                 6845339
Expense.per.SqFt                    11.03
Net.Operating.Income             16439986
Full.Market.Value               102711025
Market.Value.per.SqFt               165.5
Boro                            Manhattan
stand_Gross.SqFt                 3.734441
Name: 722, dtype: object


Observation Label: high
Neighborhood                      CLINTON
Building.Classification    R9-CONDOMINIUM
Total.Units                          1171
Year.Built                         2005.0
Gross.SqFt                         994310
Estimated.Gross.Income           33160239
Gross.Income.per.SqFt               33.35
Estimated.Expense                10480027
Expense.per.SqFt                    10.54
Net.Operating.Income             22680212
Full.Market.Value               168488000
Market.Value.per.SqFt              169.45
Boro                            Manhattan
stand_Gross.SqFt                 6.329146
Name: 725, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    202
Year.Built                                  2005.0
Gross.SqFt                                  730068
Estimated.Gross.Income                    41314548
Gross.Income.per.SqFt                        56.59
Estimated.Expense                         10111442
Expense.per.SqFt                             13.85
Net.Operating.Income                      31203106
Full.Market.Value                        232529002
Market.Value.per.SqFt                        318.5
Boro                                     Manhattan
stand_Gross.SqFt                          4.494434
Name: 731, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    425
Year.Built                                  1932.0
Gross.SqFt                                  598316
Estimated.Gross.Income                    26481466
Gross.Income.per.SqFt                        44.26
Estimated.Expense                          6551560
Expense.per.SqFt                             10.95
Net.Operating.Income                      19929906
Full.Market.Value                        150000023
Market.Value.per.SqFt                        250.7
Boro                                     Manhattan
stand_Gross.SqFt                          3.579641
Name: 732, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    549
Year.Built                                  1979.0
Gross.SqFt                                  591835
Estimated.Gross.Income                    29816647
Gross.Income.per.SqFt                        50.38
Estimated.Expense                          6249778
Expense.per.SqFt                             10.56
Net.Operating.Income                      23566869
Full.Market.Value                        113235845
Market.Value.per.SqFt                       191.33
Boro                                     Manhattan
stand_Gross.SqFt                          3.534641
Name: 734, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    655
Year.Built                                  1970.0
Gross.SqFt                                  806195
Estimated.Gross.Income                    35682191
Gross.Income.per.SqFt                        44.26
Estimated.Expense                          8827835
Expense.per.SqFt                             10.95
Net.Operating.Income                      26854356
Full.Market.Value                        202186010
Market.Value.per.SqFt                       250.79
Boro                                     Manhattan
stand_Gross.SqFt                          5.023007
Name: 735, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    680
Year.Built                                  1965.0
Gross.SqFt                                  665236
Estimated.Gross.Income                    28252573
Gross.Income.per.SqFt                        42.47
Estimated.Expense                         10929827
Expense.per.SqFt                             16.43
Net.Operating.Income                      17322746
Full.Market.Value                        126500004
Market.Value.per.SqFt                       190.16
Boro                                     Manhattan
stand_Gross.SqFt                          4.044286
Name: 756, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R9-CONDOMINIUM
Total.Units                                    561
Year.Built                                  1964.0
Gross.SqFt                                  640079
Estimated.Gross.Income                    21289028
Gross.Income.per.SqFt                        33.26
Estimated.Expense                          7828166
Expense.per.SqFt                             12.23
Net.Operating.Income                      13460862
Full.Market.Value                         81620000
Market.Value.per.SqFt                       127.52
Boro                                     Manhattan
stand_Gross.SqFt                          3.869614
Name: 784, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    422
Year.Built                                  2000.0
Gross.SqFt                                  602694
Estimated.Gross.Income                    26675236
Gross.Income.per.SqFt                        44.26
Estimated.Expense                          6750173
Expense.per.SqFt                              11.2
Net.Operating.Income                      19925063
Full.Market.Value                        146299972
Market.Value.per.SqFt                       242.74
Boro                                     Manhattan
stand_Gross.SqFt                          3.610038
Name: 803, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    271
Year.Built                                  2006.0
Gross.SqFt                                  572768
Estimated.Gross.Income                    25688645
Gross.Income.per.SqFt                        44.85
Estimated.Expense                          6031247
Expense.per.SqFt                             10.53
Net.Operating.Income                      19657398
Full.Market.Value                        147944993
Market.Value.per.SqFt                        258.3
Boro                                     Manhattan
stand_Gross.SqFt                          3.402253
Name: 808, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R9-CONDOMINIUM
Total.Units                                    543
Year.Built                                  1962.0
Gross.SqFt                                  533710
Estimated.Gross.Income                    21022837
Gross.Income.per.SqFt                        39.39
Estimated.Expense                          8059021
Expense.per.SqFt                              15.1
Net.Operating.Income                      12963816
Full.Market.Value                         92850000
Market.Value.per.SqFt                       173.97
Boro                                     Manhattan
stand_Gross.SqFt                          3.131062
Name: 811, dtype: object


Observation Label: high
Neighborhood                 MIDTOWN EAST
Building.Classification    R4-CONDOMINIUM
Total.Units                           366
Year.Built                         2000.0
Gross.SqFt                         825532
Estimated.Gross.Income           51500000
Gross.Income.per.SqFt               62.38
Estimated.Expense                14000000
Expense.per.SqFt                    16.96
Net.Operating.Income             37500000
Full.Market.Value               275918004
Market.Value.per.SqFt              334.23
Boro                            Manhattan
stand_Gross.SqFt                  5.15727
Name: 931, dtype: object


Observation Label: high
Neighborhood               UPPER EAST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    578
Year.Built                                  1951.0
Gross.SqFt                                  925645
Estimated.Gross.Income                    32184677
Gross.Income.per.SqFt                        34.77
Estimated.Expense                         11959333
Expense.per.SqFt                             12.92
Net.Operating.Income                      20225344
Full.Market.Value                        149717993
Market.Value.per.SqFt                       161.74
Boro                                     Manhattan
stand_Gross.SqFt                          5.852384
Name: 1028, dtype: object


Observation Label: high
Neighborhood               UPPER EAST SIDE (79-96)
Building.Classification             R4-CONDOMINIUM
Total.Units                                   1258

#### 4. Use apply
- Instead of vectorizing the function, use apply on housing['stand_Gross.SqFt'] and pass outlierDetectionZ as argument to get obs with labels high/low.
- show the obs that have labels low or high (as per the previous question)

In [31]:
lowhigh_apply = housing['stand_Gross.SqFt'].apply(outlierDetectionZ)

for i, val in enumerate(lowhigh_apply):
  if val is not None:
    print(f"Observation Label: {val}")
    print(housing.iloc[i])
    print("\n")

Observation Label: high
Neighborhood                    FINANCIAL
Building.Classification    RR-CONDOMINIUM
Total.Units                           500
Year.Built                            NaN
Gross.SqFt                         554174
Estimated.Gross.Income           17310000
Gross.Income.per.SqFt               31.24
Estimated.Expense                 3543000
Expense.per.SqFt                     6.39
Net.Operating.Income             13767000
Full.Market.Value                90970000
Market.Value.per.SqFt              164.15
Boro                            Manhattan
stand_Gross.SqFt                 3.273149
Name: 2, dtype: object


Observation Label: high
Neighborhood                      TRIBECA
Building.Classification    R4-CONDOMINIUM
Total.Units                           546
Year.Built                         1987.0
Gross.SqFt                         586224
Estimated.Gross.Income           24375194
Gross.Income.per.SqFt               41.58
Estimated.Expense                 7110897
Expense.per.SqFt                    12.13
Net.Operating.Income             17264297
Full.Market.Value               130154990
Market.Value.per.SqFt              222.02
Boro                            Manhattan
stand_Gross.SqFt                 3.495682
Name: 11, dtype: object


Observation Label: high
Neighborhood                    FINANCIAL
Building.Classification    R4-CONDOMINIUM
Total.Units                           382
Year.Built                         1914.0
Gross.SqFt                         648926
Estimated.Gross.Income           27436591
Gross.Income.per.SqFt               42.28
Estimated.Expense                 6820212
Expense.per.SqFt                    10.51
Net.Operating.Income             20616379
Full.Market.Value               155560004
Market.Value.per.SqFt              239.72
Boro                            Manhattan
stand_Gross.SqFt                 3.931041
Name: 23, dtype: object


Observation Label: high
Neighborhood                    FINANCIAL
Building.Classification    R4-CONDOMINIUM
Total.Units                           408
Year.Built                         1928.0
Gross.SqFt                         548976
Estimated.Gross.Income           23210705
Gross.Income.per.SqFt               42.28
Estimated.Expense                 5769738
Expense.per.SqFt                    10.51
Net.Operating.Income             17440967
Full.Market.Value               118799990
Market.Value.per.SqFt               216.4
Boro                            Manhattan
stand_Gross.SqFt                 3.237058
Name: 33, dtype: object


Observation Label: high
Neighborhood                      TRIBECA
Building.Classification    R4-CONDOMINIUM
Total.Units                           220
Year.Built                         2006.0
Gross.SqFt                         535060
Estimated.Gross.Income           24200764
Gross.Income.per.SqFt               45.23
Estimated.Expense                 5896361
Expense.per.SqFt                    11.02
Net.Operating.Income             18304403
Full.Market.Value               136481149
Market.Value.per.SqFt              255.08
Boro                            Manhattan
stand_Gross.SqFt                 3.140435
Name: 81, dtype: object


Observation Label: high
Neighborhood                      CHELSEA
Building.Classification    R9-CONDOMINIUM
Total.Units                           713
Year.Built                         1920.0
Gross.SqFt                         616965
Estimated.Gross.Income           27720237
Gross.Income.per.SqFt               44.93
Estimated.Expense                11234933
Expense.per.SqFt                    18.21
Net.Operating.Income             16485304
Full.Market.Value               124062000
Market.Value.per.SqFt              201.08
Boro                            Manhattan
stand_Gross.SqFt                 3.709126
Name: 462, dtype: object


Observation Label: high
Neighborhood                      CHELSEA
Building.Classification    R4-CONDOMINIUM
Total.Units                           351
Year.Built                         1910.0
Gross.SqFt                         552679
Estimated.Gross.Income           24666064
Gross.Income.per.SqFt               44.63
Estimated.Expense                 5399674
Expense.per.SqFt                     9.77
Net.Operating.Income             19266390
Full.Market.Value               145023999
Market.Value.per.SqFt               262.4
Boro                            Manhattan
stand_Gross.SqFt                 3.262769
Name: 498, dtype: object


Observation Label: high
Neighborhood                     GRAMERCY
Building.Classification    R4-CONDOMINIUM
Total.Units                           645
Year.Built                         1987.0
Gross.SqFt                         575077
Estimated.Gross.Income           25665687
Gross.Income.per.SqFt               44.63
Estimated.Expense                 5618502
Expense.per.SqFt                     9.77
Net.Operating.Income             20047185
Full.Market.Value               150901014
Market.Value.per.SqFt               262.4
Boro                            Manhattan
stand_Gross.SqFt                 3.418285
Name: 606, dtype: object


Observation Label: high
Neighborhood                     KIPS BAY
Building.Classification    R4-CONDOMINIUM
Total.Units                          1121
Year.Built                         1962.0
Gross.SqFt                        1171064
Estimated.Gross.Income           40158762
Gross.Income.per.SqFt               34.29
Estimated.Expense                13981299
Expense.per.SqFt                    11.94
Net.Operating.Income             26177463
Full.Market.Value               149834719
Market.Value.per.SqFt              127.95
Boro                            Manhattan
stand_Gross.SqFt                 7.556402
Name: 652, dtype: object


Observation Label: high
Neighborhood                     KIPS BAY
Building.Classification    R4-CONDOMINIUM
Total.Units                           818
Year.Built                         1986.0
Gross.SqFt                         842317
Estimated.Gross.Income           36623943
Gross.Income.per.SqFt               43.48
Estimated.Expense                12617909
Expense.per.SqFt                    14.98
Net.Operating.Income             24006034
Full.Market.Value               150700011
Market.Value.per.SqFt              178.91
Boro                            Manhattan
stand_Gross.SqFt                 5.273813
Name: 654, dtype: object


Observation Label: high
Neighborhood                     KIPS BAY
Building.Classification    R9-CONDOMINIUM
Total.Units                           586
Year.Built                         1967.0
Gross.SqFt                         605018
Estimated.Gross.Income           22470369
Gross.Income.per.SqFt               37.14
Estimated.Expense                 8191944
Expense.per.SqFt                    13.54
Net.Operating.Income             14278425
Full.Market.Value               105058000
Market.Value.per.SqFt              173.64
Boro                            Manhattan
stand_Gross.SqFt                 3.626175
Name: 656, dtype: object


Observation Label: high
Neighborhood                 MIDTOWN WEST
Building.Classification    RR-CONDOMINIUM
Total.Units                           484
Year.Built                         1987.0
Gross.SqFt                         538783
Estimated.Gross.Income           21314000
Gross.Income.per.SqFt               39.56
Estimated.Expense                 8111000
Expense.per.SqFt                    15.05
Net.Operating.Income             13203000
Full.Market.Value                93512000
Market.Value.per.SqFt              173.56
Boro                            Manhattan
stand_Gross.SqFt                 3.166285
Name: 680, dtype: object


Observation Label: high
Neighborhood                 MIDTOWN WEST
Building.Classification    R4-CONDOMINIUM
Total.Units                           528
Year.Built                         2004.0
Gross.SqFt                         604403
Estimated.Gross.Income           26750877
Gross.Income.per.SqFt               44.26
Estimated.Expense                 6618213
Expense.per.SqFt                    10.95
Net.Operating.Income             20132664
Full.Market.Value               151578964
Market.Value.per.SqFt              250.79
Boro                            Manhattan
stand_Gross.SqFt                 3.621904
Name: 681, dtype: object


Observation Label: high
Neighborhood                 MIDTOWN WEST
Building.Classification    R4-CONDOMINIUM
Total.Units                           704
Year.Built                         1989.0
Gross.SqFt                         551052
Estimated.Gross.Income           23882594
Gross.Income.per.SqFt               43.34
Estimated.Expense                 7125102
Expense.per.SqFt                    12.93
Net.Operating.Income             16757492
Full.Market.Value               126251989
Market.Value.per.SqFt              229.11
Boro                            Manhattan
stand_Gross.SqFt                 3.251472
Name: 683, dtype: object


Observation Label: high
Neighborhood                 MIDTOWN WEST
Building.Classification    R4-CONDOMINIUM
Total.Units                           576
Year.Built                         1931.0
Gross.SqFt                         609127
Estimated.Gross.Income           24791469
Gross.Income.per.SqFt                40.7
Estimated.Expense                 7461806
Expense.per.SqFt                    12.25
Net.Operating.Income             17329663
Full.Market.Value               130907993
Market.Value.per.SqFt              214.91
Boro                            Manhattan
stand_Gross.SqFt                 3.654705
Name: 688, dtype: object


Observation Label: high
Neighborhood                 MIDTOWN WEST
Building.Classification    R4-CONDOMINIUM
Total.Units                           595
Year.Built                         1978.0
Gross.SqFt                         706825
Estimated.Gross.Income           32775475
Gross.Income.per.SqFt               46.37
Estimated.Expense                 7902304
Expense.per.SqFt                    11.18
Net.Operating.Income             24873171
Full.Market.Value               186988005
Market.Value.per.SqFt              264.55
Boro                            Manhattan
stand_Gross.SqFt                 4.333051
Name: 689, dtype: object


Observation Label: high
Neighborhood                      CLINTON
Building.Classification    RR-CONDOMINIUM
Total.Units                           222
Year.Built                         2009.0
Gross.SqFt                         620611
Estimated.Gross.Income           23285325
Gross.Income.per.SqFt               37.52
Estimated.Expense                 6845339
Expense.per.SqFt                    11.03
Net.Operating.Income             16439986
Full.Market.Value               102711025
Market.Value.per.SqFt               165.5
Boro                            Manhattan
stand_Gross.SqFt                 3.734441
Name: 722, dtype: object


Observation Label: high
Neighborhood                      CLINTON
Building.Classification    R9-CONDOMINIUM
Total.Units                          1171
Year.Built                         2005.0
Gross.SqFt                         994310
Estimated.Gross.Income           33160239
Gross.Income.per.SqFt               33.35
Estimated.Expense                10480027
Expense.per.SqFt                    10.54
Net.Operating.Income             22680212
Full.Market.Value               168488000
Market.Value.per.SqFt              169.45
Boro                            Manhattan
stand_Gross.SqFt                 6.329146
Name: 725, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    202
Year.Built                                  2005.0
Gross.SqFt                                  730068
Estimated.Gross.Income                    41314548
Gross.Income.per.SqFt                        56.59
Estimated.Expense                         10111442
Expense.per.SqFt                             13.85
Net.Operating.Income                      31203106
Full.Market.Value                        232529002
Market.Value.per.SqFt                        318.5
Boro                                     Manhattan
stand_Gross.SqFt                          4.494434
Name: 731, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    425
Year.Built                                  1932.0
Gross.SqFt                                  598316
Estimated.Gross.Income                    26481466
Gross.Income.per.SqFt                        44.26
Estimated.Expense                          6551560
Expense.per.SqFt                             10.95
Net.Operating.Income                      19929906
Full.Market.Value                        150000023
Market.Value.per.SqFt                        250.7
Boro                                     Manhattan
stand_Gross.SqFt                          3.579641
Name: 732, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    549
Year.Built                                  1979.0
Gross.SqFt                                  591835
Estimated.Gross.Income                    29816647
Gross.Income.per.SqFt                        50.38
Estimated.Expense                          6249778
Expense.per.SqFt                             10.56
Net.Operating.Income                      23566869
Full.Market.Value                        113235845
Market.Value.per.SqFt                       191.33
Boro                                     Manhattan
stand_Gross.SqFt                          3.534641
Name: 734, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    655
Year.Built                                  1970.0
Gross.SqFt                                  806195
Estimated.Gross.Income                    35682191
Gross.Income.per.SqFt                        44.26
Estimated.Expense                          8827835
Expense.per.SqFt                             10.95
Net.Operating.Income                      26854356
Full.Market.Value                        202186010
Market.Value.per.SqFt                       250.79
Boro                                     Manhattan
stand_Gross.SqFt                          5.023007
Name: 735, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    680
Year.Built                                  1965.0
Gross.SqFt                                  665236
Estimated.Gross.Income                    28252573
Gross.Income.per.SqFt                        42.47
Estimated.Expense                         10929827
Expense.per.SqFt                             16.43
Net.Operating.Income                      17322746
Full.Market.Value                        126500004
Market.Value.per.SqFt                       190.16
Boro                                     Manhattan
stand_Gross.SqFt                          4.044286
Name: 756, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R9-CONDOMINIUM
Total.Units                                    561
Year.Built                                  1964.0
Gross.SqFt                                  640079
Estimated.Gross.Income                    21289028
Gross.Income.per.SqFt                        33.26
Estimated.Expense                          7828166
Expense.per.SqFt                             12.23
Net.Operating.Income                      13460862
Full.Market.Value                         81620000
Market.Value.per.SqFt                       127.52
Boro                                     Manhattan
stand_Gross.SqFt                          3.869614
Name: 784, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    422
Year.Built                                  2000.0
Gross.SqFt                                  602694
Estimated.Gross.Income                    26675236
Gross.Income.per.SqFt                        44.26
Estimated.Expense                          6750173
Expense.per.SqFt                              11.2
Net.Operating.Income                      19925063
Full.Market.Value                        146299972
Market.Value.per.SqFt                       242.74
Boro                                     Manhattan
stand_Gross.SqFt                          3.610038
Name: 803, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    271
Year.Built                                  2006.0
Gross.SqFt                                  572768
Estimated.Gross.Income                    25688645
Gross.Income.per.SqFt                        44.85
Estimated.Expense                          6031247
Expense.per.SqFt                             10.53
Net.Operating.Income                      19657398
Full.Market.Value                        147944993
Market.Value.per.SqFt                        258.3
Boro                                     Manhattan
stand_Gross.SqFt                          3.402253
Name: 808, dtype: object


Observation Label: high
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R9-CONDOMINIUM
Total.Units                                    543
Year.Built                                  1962.0
Gross.SqFt                                  533710
Estimated.Gross.Income                    21022837
Gross.Income.per.SqFt                        39.39
Estimated.Expense                          8059021
Expense.per.SqFt                              15.1
Net.Operating.Income                      12963816
Full.Market.Value                         92850000
Market.Value.per.SqFt                       173.97
Boro                                     Manhattan
stand_Gross.SqFt                          3.131062
Name: 811, dtype: object


Observation Label: high
Neighborhood                 MIDTOWN EAST
Building.Classification    R4-CONDOMINIUM
Total.Units                           366
Year.Built                         2000.0
Gross.SqFt                         825532
Estimated.Gross.Income           51500000
Gross.Income.per.SqFt               62.38
Estimated.Expense                14000000
Expense.per.SqFt                    16.96
Net.Operating.Income             37500000
Full.Market.Value               275918004
Market.Value.per.SqFt              334.23
Boro                            Manhattan
stand_Gross.SqFt                  5.15727
Name: 931, dtype: object


Observation Label: high
Neighborhood               UPPER EAST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    578
Year.Built                                  1951.0
Gross.SqFt                                  925645
Estimated.Gross.Income                    32184677
Gross.Income.per.SqFt                        34.77
Estimated.Expense                         11959333
Expense.per.SqFt                             12.92
Net.Operating.Income                      20225344
Full.Market.Value                        149717993
Market.Value.per.SqFt                       161.74
Boro                                     Manhattan
stand_Gross.SqFt                          5.852384
Name: 1028, dtype: object


Observation Label: high
Neighborhood               UPPER EAST SIDE (79-96)
Building.Classification             R4-CONDOMINIUM
Total.Units                                   1258

#### 5.  Use apply and lambda function
- on the stand_Gross.SqFt column, call apply with lambda function.
- the lambda function returns 'outlier' when the z-score is lower than -3 or larger than 3, and none otherwise.

In [32]:
outlier_lambda = housing['stand_Gross.SqFt'].apply(lambda x: 'outlier' if x < -3 or x > 3 else None)

for i, val in enumerate(outlier_lambda):
  if val is not None:
    print(f"Observation Label: {val}")
    print(housing.iloc[i])
    print("\n")

Observation Label: outlier
Neighborhood                    FINANCIAL
Building.Classification    RR-CONDOMINIUM
Total.Units                           500
Year.Built                            NaN
Gross.SqFt                         554174
Estimated.Gross.Income           17310000
Gross.Income.per.SqFt               31.24
Estimated.Expense                 3543000
Expense.per.SqFt                     6.39
Net.Operating.Income             13767000
Full.Market.Value                90970000
Market.Value.per.SqFt              164.15
Boro                            Manhattan
stand_Gross.SqFt                 3.273149
Name: 2, dtype: object


Observation Label: outlier
Neighborhood                      TRIBECA
Building.Classification    R4-CONDOMINIUM
Total.Units                           546
Year.Built                         1987.0
Gross.SqFt                         586224
Estimated.Gross.Income           24375194
Gross.Income.per.SqFt               41.58
Estimated.Expense                 7110897
Expense.per.SqFt                    12.13
Net.Operating.Income             17264297
Full.Market.Value               130154990
Market.Value.per.SqFt              222.02
Boro                            Manhattan
stand_Gross.SqFt                 3.495682
Name: 11, dtype: object


Observation Label: outlier
Neighborhood                    FINANCIAL
Building.Classification    R4-CONDOMINIUM
Total.Units                           382
Year.Built                         1914.0
Gross.SqFt                         648926
Estimated.Gross.Income           27436591
Gross.Income.per.SqFt               42.28
Estimated.Expense                 6820212
Expense.per.SqFt                    10.51
Net.Operating.Income             20616379
Full.Market.Value               155560004
Market.Value.per.SqFt              239.72
Boro                            Manhattan
stand_Gross.SqFt                 3.931041
Name: 23, dtype: object


Observation Label: outlier
Neighborhood                    FINANCIAL
Building.Classification    R4-CONDOMINIUM
Total.Units                           408
Year.Built                         1928.0
Gross.SqFt                         548976
Estimated.Gross.Income           23210705
Gross.Income.per.SqFt               42.28
Estimated.Expense                 5769738
Expense.per.SqFt                    10.51
Net.Operating.Income             17440967
Full.Market.Value               118799990
Market.Value.per.SqFt               216.4
Boro                            Manhattan
stand_Gross.SqFt                 3.237058
Name: 33, dtype: object


Observation Label: outlier
Neighborhood                      TRIBECA
Building.Classification    R4-CONDOMINIUM
Total.Units                           220
Year.Built                         2006.0
Gross.SqFt                         535060
Estimated.Gross.Income           24200764
Gross.Income.per.SqFt               45.23
Estimated.Expense                 5896361
Expense.per.SqFt                    11.02
Net.Operating.Income             18304403
Full.Market.Value               136481149
Market.Value.per.SqFt              255.08
Boro                            Manhattan
stand_Gross.SqFt                 3.140435
Name: 81, dtype: object


Observation Label: outlier
Neighborhood                      CHELSEA
Building.Classification    R9-CONDOMINIUM
Total.Units                           713
Year.Built                         1920.0
Gross.SqFt                         616965
Estimated.Gross.Income           27720237
Gross.Income.per.SqFt               44.93
Estimated.Expense                11234933
Expense.per.SqFt                    18.21
Net.Operating.Income             16485304
Full.Market.Value               124062000
Market.Value.per.SqFt              201.08
Boro                            Manhattan
stand_Gross.SqFt                 3.709126
Name: 462, dtype: object


Observation Label: outlier
Neighborhood                      CHELSEA
Building.Classification    R4-CONDOMINIUM
Total.Units                           351
Year.Built                         1910.0
Gross.SqFt                         552679
Estimated.Gross.Income           24666064
Gross.Income.per.SqFt               44.63
Estimated.Expense                 5399674
Expense.per.SqFt                     9.77
Net.Operating.Income             19266390
Full.Market.Value               145023999
Market.Value.per.SqFt               262.4
Boro                            Manhattan
stand_Gross.SqFt                 3.262769
Name: 498, dtype: object


Observation Label: outlier
Neighborhood                     GRAMERCY
Building.Classification    R4-CONDOMINIUM
Total.Units                           645
Year.Built                         1987.0
Gross.SqFt                         575077
Estimated.Gross.Income           25665687
Gross.Income.per.SqFt               44.63
Estimated.Expense                 5618502
Expense.per.SqFt                     9.77
Net.Operating.Income             20047185
Full.Market.Value               150901014
Market.Value.per.SqFt               262.4
Boro                            Manhattan
stand_Gross.SqFt                 3.418285
Name: 606, dtype: object


Observation Label: outlier
Neighborhood                     KIPS BAY
Building.Classification    R4-CONDOMINIUM
Total.Units                          1121
Year.Built                         1962.0
Gross.SqFt                        1171064
Estimated.Gross.Income           40158762
Gross.Income.per.SqFt               34.29
Estimated.Expense                13981299
Expense.per.SqFt                    11.94
Net.Operating.Income             26177463
Full.Market.Value               149834719
Market.Value.per.SqFt              127.95
Boro                            Manhattan
stand_Gross.SqFt                 7.556402
Name: 652, dtype: object


Observation Label: outlier
Neighborhood                     KIPS BAY
Building.Classification    R4-CONDOMINIUM
Total.Units                           818
Year.Built                         1986.0
Gross.SqFt                         842317
Estimated.Gross.Income           36623943
Gross.Income.per.SqFt               43.48
Estimated.Expense                12617909
Expense.per.SqFt                    14.98
Net.Operating.Income             24006034
Full.Market.Value               150700011
Market.Value.per.SqFt              178.91
Boro                            Manhattan
stand_Gross.SqFt                 5.273813
Name: 654, dtype: object


Observation Label: outlier
Neighborhood                     KIPS BAY
Building.Classification    R9-CONDOMINIUM
Total.Units                           586
Year.Built                         1967.0
Gross.SqFt                         605018
Estimated.Gross.Income           22470369
Gross.Income.per.SqFt               37.14
Estimated.Expense                 8191944
Expense.per.SqFt                    13.54
Net.Operating.Income             14278425
Full.Market.Value               105058000
Market.Value.per.SqFt              173.64
Boro                            Manhattan
stand_Gross.SqFt                 3.626175
Name: 656, dtype: object


Observation Label: outlier
Neighborhood                 MIDTOWN WEST
Building.Classification    RR-CONDOMINIUM
Total.Units                           484
Year.Built                         1987.0
Gross.SqFt                         538783
Estimated.Gross.Income           21314000
Gross.Income.per.SqFt               39.56
Estimated.Expense                 8111000
Expense.per.SqFt                    15.05
Net.Operating.Income             13203000
Full.Market.Value                93512000
Market.Value.per.SqFt              173.56
Boro                            Manhattan
stand_Gross.SqFt                 3.166285
Name: 680, dtype: object


Observation Label: outlier
Neighborhood                 MIDTOWN WEST
Building.Classification    R4-CONDOMINIUM
Total.Units                           528
Year.Built                         2004.0
Gross.SqFt                         604403
Estimated.Gross.Income           26750877
Gross.Income.per.SqFt               44.26
Estimated.Expense                 6618213
Expense.per.SqFt                    10.95
Net.Operating.Income             20132664
Full.Market.Value               151578964
Market.Value.per.SqFt              250.79
Boro                            Manhattan
stand_Gross.SqFt                 3.621904
Name: 681, dtype: object


Observation Label: outlier
Neighborhood                 MIDTOWN WEST
Building.Classification    R4-CONDOMINIUM
Total.Units                           704
Year.Built                         1989.0
Gross.SqFt                         551052
Estimated.Gross.Income           23882594
Gross.Income.per.SqFt               43.34
Estimated.Expense                 7125102
Expense.per.SqFt                    12.93
Net.Operating.Income             16757492
Full.Market.Value               126251989
Market.Value.per.SqFt              229.11
Boro                            Manhattan
stand_Gross.SqFt                 3.251472
Name: 683, dtype: object


Observation Label: outlier
Neighborhood                 MIDTOWN WEST
Building.Classification    R4-CONDOMINIUM
Total.Units                           576
Year.Built                         1931.0
Gross.SqFt                         609127
Estimated.Gross.Income           24791469
Gross.Income.per.SqFt                40.7
Estimated.Expense                 7461806
Expense.per.SqFt                    12.25
Net.Operating.Income             17329663
Full.Market.Value               130907993
Market.Value.per.SqFt              214.91
Boro                            Manhattan
stand_Gross.SqFt                 3.654705
Name: 688, dtype: object


Observation Label: outlier
Neighborhood                 MIDTOWN WEST
Building.Classification    R4-CONDOMINIUM
Total.Units                           595
Year.Built                         1978.0
Gross.SqFt                         706825
Estimated.Gross.Income           32775475
Gross.Income.per.SqFt               46.37
Estimated.Expense                 7902304
Expense.per.SqFt                    11.18
Net.Operating.Income             24873171
Full.Market.Value               186988005
Market.Value.per.SqFt              264.55
Boro                            Manhattan
stand_Gross.SqFt                 4.333051
Name: 689, dtype: object


Observation Label: outlier
Neighborhood                      CLINTON
Building.Classification    RR-CONDOMINIUM
Total.Units                           222
Year.Built                         2009.0
Gross.SqFt                         620611
Estimated.Gross.Income           23285325
Gross.Income.per.SqFt               37.52
Estimated.Expense                 6845339
Expense.per.SqFt                    11.03
Net.Operating.Income             16439986
Full.Market.Value               102711025
Market.Value.per.SqFt               165.5
Boro                            Manhattan
stand_Gross.SqFt                 3.734441
Name: 722, dtype: object


Observation Label: outlier
Neighborhood                      CLINTON
Building.Classification    R9-CONDOMINIUM
Total.Units                          1171
Year.Built                         2005.0
Gross.SqFt                         994310
Estimated.Gross.Income           33160239
Gross.Income.per.SqFt               33.35
Estimated.Expense                10480027
Expense.per.SqFt                    10.54
Net.Operating.Income             22680212
Full.Market.Value               168488000
Market.Value.per.SqFt              169.45
Boro                            Manhattan
stand_Gross.SqFt                 6.329146
Name: 725, dtype: object


Observation Label: outlier
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    202
Year.Built                                  2005.0
Gross.SqFt                                  730068
Estimated.Gross.Income                    41314548
Gross.Income.per.SqFt                        56.59
Estimated.Expense                         10111442
Expense.per.SqFt                             13.85
Net.Operating.Income                      31203106
Full.Market.Value                        232529002
Market.Value.per.SqFt                        318.5
Boro                                     Manhattan
stand_Gross.SqFt                          4.494434
Name: 731, dtype: object


Observation Label: outlier
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    425
Year.Built                                  1932.0
Gross.SqFt                                  598316
Estimated.Gross.Income                    26481466
Gross.Income.per.SqFt                        44.26
Estimated.Expense                          6551560
Expense.per.SqFt                             10.95
Net.Operating.Income                      19929906
Full.Market.Value                        150000023
Market.Value.per.SqFt                        250.7
Boro                                     Manhattan
stand_Gross.SqFt                          3.579641
Name: 732, dtype: object


Observation Label: outlier
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    549
Year.Built                                  1979.0
Gross.SqFt                                  591835
Estimated.Gross.Income                    29816647
Gross.Income.per.SqFt                        50.38
Estimated.Expense                          6249778
Expense.per.SqFt                             10.56
Net.Operating.Income                      23566869
Full.Market.Value                        113235845
Market.Value.per.SqFt                       191.33
Boro                                     Manhattan
stand_Gross.SqFt                          3.534641
Name: 734, dtype: object


Observation Label: outlier
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    655
Year.Built                                  1970.0
Gross.SqFt                                  806195
Estimated.Gross.Income                    35682191
Gross.Income.per.SqFt                        44.26
Estimated.Expense                          8827835
Expense.per.SqFt                             10.95
Net.Operating.Income                      26854356
Full.Market.Value                        202186010
Market.Value.per.SqFt                       250.79
Boro                                     Manhattan
stand_Gross.SqFt                          5.023007
Name: 735, dtype: object


Observation Label: outlier
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    680
Year.Built                                  1965.0
Gross.SqFt                                  665236
Estimated.Gross.Income                    28252573
Gross.Income.per.SqFt                        42.47
Estimated.Expense                         10929827
Expense.per.SqFt                             16.43
Net.Operating.Income                      17322746
Full.Market.Value                        126500004
Market.Value.per.SqFt                       190.16
Boro                                     Manhattan
stand_Gross.SqFt                          4.044286
Name: 756, dtype: object


Observation Label: outlier
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R9-CONDOMINIUM
Total.Units                                    561
Year.Built                                  1964.0
Gross.SqFt                                  640079
Estimated.Gross.Income                    21289028
Gross.Income.per.SqFt                        33.26
Estimated.Expense                          7828166
Expense.per.SqFt                             12.23
Net.Operating.Income                      13460862
Full.Market.Value                         81620000
Market.Value.per.SqFt                       127.52
Boro                                     Manhattan
stand_Gross.SqFt                          3.869614
Name: 784, dtype: object


Observation Label: outlier
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    422
Year.Built                                  2000.0
Gross.SqFt                                  602694
Estimated.Gross.Income                    26675236
Gross.Income.per.SqFt                        44.26
Estimated.Expense                          6750173
Expense.per.SqFt                              11.2
Net.Operating.Income                      19925063
Full.Market.Value                        146299972
Market.Value.per.SqFt                       242.74
Boro                                     Manhattan
stand_Gross.SqFt                          3.610038
Name: 803, dtype: object


Observation Label: outlier
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    271
Year.Built                                  2006.0
Gross.SqFt                                  572768
Estimated.Gross.Income                    25688645
Gross.Income.per.SqFt                        44.85
Estimated.Expense                          6031247
Expense.per.SqFt                             10.53
Net.Operating.Income                      19657398
Full.Market.Value                        147944993
Market.Value.per.SqFt                        258.3
Boro                                     Manhattan
stand_Gross.SqFt                          3.402253
Name: 808, dtype: object


Observation Label: outlier
Neighborhood               UPPER WEST SIDE (59-79)
Building.Classification             R9-CONDOMINIUM
Total.Units                                    543
Year.Built                                  1962.0
Gross.SqFt                                  533710
Estimated.Gross.Income                    21022837
Gross.Income.per.SqFt                        39.39
Estimated.Expense                          8059021
Expense.per.SqFt                              15.1
Net.Operating.Income                      12963816
Full.Market.Value                         92850000
Market.Value.per.SqFt                       173.97
Boro                                     Manhattan
stand_Gross.SqFt                          3.131062
Name: 811, dtype: object


Observation Label: outlier
Neighborhood                 MIDTOWN EAST
Building.Classification    R4-CONDOMINIUM
Total.Units                           366
Year.Built                         2000.0
Gross.SqFt                         825532
Estimated.Gross.Income           51500000
Gross.Income.per.SqFt               62.38
Estimated.Expense                14000000
Expense.per.SqFt                    16.96
Net.Operating.Income             37500000
Full.Market.Value               275918004
Market.Value.per.SqFt              334.23
Boro                            Manhattan
stand_Gross.SqFt                  5.15727
Name: 931, dtype: object


Observation Label: outlier
Neighborhood               UPPER EAST SIDE (59-79)
Building.Classification             R4-CONDOMINIUM
Total.Units                                    578
Year.Built                                  1951.0
Gross.SqFt                                  925645
Estimated.Gross.Income                    32184677
Gross.Income.per.SqFt                        34.77
Estimated.Expense                         11959333
Expense.per.SqFt                             12.92
Net.Operating.Income                      20225344
Full.Market.Value                        149717993
Market.Value.per.SqFt                       161.74
Boro                                     Manhattan
stand_Gross.SqFt                          5.852384
Name: 1028, dtype: object


Observation Label: outlier
Neighborhood               UPPER EAST SIDE (79-96)

#### 6. Use group by and aggregate functions.
    6.1. Show the average full market value per boro.

    6.2. Show the average full market value per boro and Neighborhood

    6.3. show the average, min and max full market value per boro and Neighborhood. Use agg function and rename the columns as min Market val, max market val and avg market val and also flatten the dataframe.

In [34]:
# 6.1. Show the average full market value per boro.
housing.groupby('Boro')['Full.Market.Value'].mean()

Boro
Bronx            6.330082e+06
Brooklyn         3.028974e+06
Manhattan        2.143214e+07
Queens           4.167439e+06
Staten Island    3.313400e+06
Name: Full.Market.Value, dtype: float64

In [62]:
# 6.2. Show the average full market value per boro and Neighborhood
housing.groupby(['Boro', 'Neighborhood'])['Full.Market.Value'].mean().reset_index()

              Boro          Neighborhood  Full.Market.Value
0            Bronx  BEDFORD PARK/NORWOOD          1816498.0
1            Bronx               BELMONT          2752000.0
2            Bronx         BRONX-UNKNOWN         74391091.5
3            Bronx             BRONXDALE          3125671.0
4            Bronx           CITY ISLAND           678001.0
..             ...                   ...                ...
147  Staten Island              ROSEBANK          3354003.0
148  Staten Island           SILVER LAKE          2077903.0
149  Staten Island             SUNNYSIDE          2340743.0
150  Staten Island         TOMPKINSVILLE          5697922.0
151  Staten Island     WEST NEW BRIGHTON          1148655.0

[152 rows x 3 columns]

In [63]:
# 6.3. show the average, min and max full market value per boro and Neighborhood. Use agg function and rename the columns as min Market val, max market val and avg market val and also flatten the dataframe.
agg_full_market_value = housing.groupby(['Boro', 'Neighborhood'])['Full.Market.Value'].agg(['min', 'max', 'mean'])
agg_full_market_value = agg_full_market_value.rename(
    columns={'min': 'min Market val', 'max': 'max Market val', 'mean': 'avg Market val'}
)
agg_full_market_value.reset_index()

,Boro,Neighborhood,min Market val,max Market val,avg Market val
0,Bronx,BEDFORD PARK/NORWOOD,651996,2981000,1816498.0
1,Bronx,BELMONT,2752000,2752000,2752000.0
2,Bronx,BRONX-UNKNOWN,56470051,92312132,74391091.5
3,Bronx,BRONXDALE,2827000,3424007,3125671.0
4,Bronx,CITY ISLAND,678001,678001,678001.0
...,...,...,...,...,...
147,Staten Island,ROSEBANK,3354003,3354003,3354003.0
148,Staten Island,SILVER LAKE,1845800,2310006,2077903.0
149,Staten Island,SUNNYSIDE,2340743,2340743,2340743.0
150,Staten Island,TOMPKINSVILLE,5697922,5697922,5697922.0
151,Staten Island,WEST NEW BRIGHTON,1148655,1148655,1148655.0

#### 7. grouped zscore versus nongrouped zscore.
    7.1. Calculate a grouped zscore for full market value per Boro.  
    7.2. Also calculate a non-grouped zscore for full market value.
    7.3. Show the first 5 obs of each series.

In [37]:
# 7.1. Calculate a grouped zscore for full market value per Boro.
grouped_zscore_full_market_value = housing.groupby('Boro')['Full.Market.Value'].transform(zscore)
grouped_zscore_full_market_value.head()

0   -0.475363
1    0.311406
2    2.339044
3    1.551468
4    1.106282
Name: Full.Market.Value, dtype: float64

In [41]:
# 7.2. Also calculate a non-grouped zscore for full market value.
non_grouped_zscore_full_market_value = housing['Full.Market.Value'].transform(zscore)
non_grouped_zscore_full_market_value.head()

0   -0.239113
1    0.745925
2    3.284534
3    2.298486
4    1.741112
Name: Full.Market.Value, dtype: float64

In [43]:
# 7.3. Show the first 5 obs of each series.
print("Grouped:")
print(grouped_zscore_full_market_value.head())

print("\nNon-grouped:")
print(non_grouped_zscore_full_market_value.head())

Grouped:
0   -0.475363
1    0.311406
2    2.339044
3    1.551468
4    1.106282
Name: Full.Market.Value, dtype: float64

Non-grouped:
0   -0.239113
1    0.745925
2    3.284534
3    2.298486
4    1.741112
Name: Full.Market.Value, dtype: float64

#### 8. Filter rows based on conditions on groups
    8.1. show the frequency count (number of houses) per Boro. (use value_counts() method)
    8.2. filter out the houses that belong to a Boro with a frequency count less than 100. name the new dataframe as housing_filtered
    8.3. show the frequency count (number of houses) per Boro in the filtered_housing dataframe.

In [45]:
# 8.1. show the frequency count (number of houses) per Boro. (use value_counts() method)
boro_counts = housing['Boro'].value_counts()
boro_counts

Boro
Manhattan        1380
Brooklyn          717
Queens            434
Bronx              69
Staten Island      26
Name: count, dtype: int64

In [46]:
# 8.2. filter out the houses that belong to a Boro with a frequency count less than 100. name the new dataframe as housing_filtered
boros_to_keep = boro_counts[boro_counts >= 100].index
housing_filtered = housing[housing['Boro'].isin(boros_to_keep)]

In [50]:
# 8.3. show the frequency count (number of houses) per Boro in the filtered_housing dataframe.
housing_filtered['Boro'].value_counts()

Boro
Manhattan    1380
Brooklyn      717
Queens        434
Name: count, dtype: int64

#### 9. Calculate the mean of Gross.SqFt and Estimated.Gross.Income by  Boro and Neighborhood
    - define a variable groups that holds grouped dataframe by Boro and Neighborhood. include only the Boro, Neighborhood, Gross.SqFt and Estimated.Gross.Income columns from the original dataset.
    - show the mean of Gross.SqFt and Estimated.Gross.Income per group.

In [58]:
# - define a variable groups that holds grouped dataframe by Boro and Neighborhood. include only the Boro, Neighborhood, Gross.SqFt and Estimated.Gross.Income columns from the original dataset.
# - show the mean of Gross.SqFt and Estimated.Gross.Income per group.
groups = housing.groupby(['Boro', 'Neighborhood'])[['Gross.SqFt', 'Estimated.Gross.Income']]
groups.mean().reset_index()

              Boro          Neighborhood    Gross.SqFt  Estimated.Gross.Income
0            Bronx  BEDFORD PARK/NORWOOD  4.827900e+04                562398.5
1            Bronx               BELMONT  4.875000e+04                812175.0
2            Bronx         BRONX-UNKNOWN  2.295597e+06              26939916.0
3            Bronx             BRONXDALE  1.096907e+05               1016980.0
4            Bronx           CITY ISLAND  1.660500e+04                218190.0
..             ...                   ...           ...                     ...
147  Staten Island              ROSEBANK  6.239100e+04                831672.0
148  Staten Island           SILVER LAKE  5.802600e+04                739582.0
149  Staten Island             SUNNYSIDE  6.539200e+04                857943.0
150  Staten Island         TOMPKINSVILLE  1.590960e+05               1942562.0
151  Staten Island     WEST NEW BRIGHTON  2.894300e+04                406939.0

[152 rows x 4 columns]

#### 10. Iterate through the groups and print the gross square feet for Bronx boro in BEDFORD PARK/NORWOOD.
    The output should be as follows:
        the gross square Feet for Bronx in BEDFORD PARK/NORWOOD is: 79920

In [61]:
for (boro, neighborhood), group in groups:
  if boro == 'Bronx' and neighborhood == 'BEDFORD PARK/NORWOOD':
    print(f"the gross square Feet for Bronx in BEDFORD PARK/NORWOOD is: {group['Gross.SqFt'].sum()}")
    break

the gross square Feet for Bronx in BEDFORD PARK/NORWOOD is: 96558